* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
    --animation: all 0.2s linear;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* ======== Common ======== */

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    text-align: center;
    background: var(--primary-color);
    min-width: 186px;
    line-height: 67px;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: var(--animation);
}

.btn:hover {
    background: #ffffff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

/* ======== Header ======== */

.header {
    background: #ffffff;
}

.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 3;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
    justify-content: space-between;
}

.nav ul {
    display: flex;
}

.nav li.active a,
.nav a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #2f3a3b;
}

.nav a {
    padding: 8px 20px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #2f3a3b;
    transition: var(--animation);
}

.header .sign-in-btn {
    font-weight: 400;
    font-size: 1.6rem;
    color: #494949;
}

.header .sign-up-btn {
    margin-left: 24px;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    transition: var(--animation);
}

.header .sign-up-btn:hover {
    background: var(--primary-color);
    color: #ffffff;
}

/* ======== Hero ======== */
.hero {
    padding: 50px 0 79px;
}

.hero .body {
    display: flex;
}

.hero .content-block {
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .media-block {
    position: relative;
    width: 61%;
    padding-left: 138px;
}

.hero .media-block .img {
    display: block;
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .title {
    font-weight: 400;
    font-size: 1.4rem;
    color: #767e7e;
}

.hero .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
    color: #0d1111;
}

.hero .desc {
    margin-top: 48px;
    font-weight: 400;
    font-size: 1.8;
    line-height: 1.78;
    color: #9da6a5;
}

.hero .cta-btn {
    margin-top: 52px;
}

.hero .play-btn {
    margin-left: 49px;
    width: 62px;
    height: 62px;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: var(--animation);
}

.hero .play-btn:hover {
    border: 1px solid var(--primary-color);
}

.hero .summary .courses {
    position: absolute;
    top: 149px;
    right: 459px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 157px;
    height: 75px;
    background: #fefefd;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    /* z-index: 1; */
}

.hero .summary .book {
    width: 36px;
    height: 40px;
}

.hero .courses .title {
    width: 55px;
    height: 30px;
    margin-left: 16px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
    color: #0d1111;
}

.hero .summary .schedules {
    position: absolute;
    top: 453px;
    right: 517px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 25px 23px;
    width: 124px;
    height: 132px;
    background: #ffffff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero .schedules .title {
    font-weight: 500;
    font-size: 1rem;
    color: #0d1111;
}

.hero .schedules img {
    margin-top: 16px;
}

.hero .summary .students-block {
    position: absolute;
    top: 500px;
    right: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 207px;
    height: 90px;
    background: #fefefd;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}
.hero .students-block .title {
    font-weight: 500;
    font-size: 1rem;
    color: #0d1111;
}

.hero .avatar-group {
    display: flex;
}

.hero .avatar-group .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    width: 33px;
    height: 33px;
    background: var(--primary-color);
    object-fit: cover;
    border-radius: 50%;
    margin-left: -7px;
}

.hero .avatar-group .avatar:first-child {
    margin-left: 0;
}

.hero .avatar-group .avatar span {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
}

/* ======== Features ======== */

.features {
    margin-top: 65px;
    padding-top: 65px;
}

.features .title-block {
    max-width: 577px;
}

.features .title-block .title {
    font-weight: 700;
    font-size: 1.2rem;
    color: #767e7e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.features .title-block .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0d1111;
}

.features .title-block .desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 27px;
    color: #767e7e;
}

.features .features-section {
    margin-top: 80px;
    display: flex;
    gap: 80px;
}

.features .features-item {
    width: 224px;
}

.features .features-item .icon {
    display: block;
    width: 102px;
    height: 106px;
    padding: 29px 27px;
    border-radius: 18px;
    background: #ffc147;
}

.features .features-item .icon.discuss {
    background: #ff947a;
}

.features .features-item .icon.task {
    background: #bf83ff;
}

.features .features-item .title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    color: #0d1111;
}

.features .features-item .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9da6a5;
}

/* ======== Courses ======== */

.courses {
    margin-top: 85px;
    /* padding: 85px; */
    padding: 65px 0 130px;
}

.courses .text-heading .title {
    font-weight: 700;
    font-size: 1.2rem;
    color: #767e7e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.courses .text-heading .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 42px;
    color: #0d1111;
}

.courses .desc-view {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}

.courses .desc-view .desc {
    max-width: 525px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767e7e;
}

.courses .desc-view .view-all {
    display: flex;

    align-items: center;
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration-line: underline;
    color: var(--primary-color);
}

.courses .course-item {
    display: flex;
    gap: 47px;
}

.courses .course-item .items {
    position: relative;
    display: flex;
}

.courses .items:hover img {
    opacity: 1;
}

.courses .items .thumb {
    width: 359px;
    height: 393px;
}

.courses .thumb .img {
    display: inline;
    width: 100%;
    height: 100%;
    margin-top: 79px;
    background: #d0efed;
    opacity: 0.35;
    border-radius: 8px;
    object-fit: cover;
    transition: var(--animation);
}

.courses .course-item .list-item {
    position: absolute;
    width: 325px;
    height: 195px;
    padding: 18px 25px 30px;
    top: 401px;
    left: 17px;
    background: #ffffff;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.courses .list-item .title a {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 33px;
    color: #0d1111;
}

.courses .free {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #767e7e;
}

.courses .free span {
    font-weight: 700;
    font-size: 2.2rem;
    color: #0d1111;
}

.courses .list-item .desc,
.courses .list-item .desc-1 {
    margin-top: 6px;
    font-size: 1.4rem;
    color: #9da6a5;
    line-height: 1.5;
}

.courses .items .class-time {
    position: relative;
    margin-top: 18px;
}

.courses .items .class-time .desc,
.courses .items .class-time .desc-1 {
    margin-left: 15px;
}

.courses .items .class-time .desc::before {
    position: absolute;
    top: 7px;
    left: 0;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.courses .items .class-time .desc-1::before {
    position: absolute;
    top: 7px;
    left: 99px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

/* ======== Countdown ======== */

.countdown {
    margin-top: 352px;
}

.countdown .surrounded {
    display: flex;
    justify-content: space-around;
}

.countdown .surrounded .number {
    font-weight: 700;
    font-size: 6.2rem;
    text-align: center;
    color: #0d1111;
}

.countdown .surrounded .desc {
    margin-top: 11px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 27px;
    text-align: center;
    color: #767e7e;
}

/* ======== Testimonial ======== */

.testimonial {
    margin-top: 264px;
}

.testimonial .quote {
    width: 42%;
    padding-right: 72px;
}

.testimonial .quote-block {
    display: flex;

    padding-bottom: 37px;
}

.testimonial .quote-block .feedback {
    margin-top: 27px;
    width: 419px;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5d6564;
}

.testimonial .quote-block .name {
    margin-top: 33px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #070707;
}

.testimonial .quote-block .name span {
    color: #767e7e;
    font-weight: 400;
}

.testimonial .quote-block .controls {
    display: flex;
    gap: 0 30px;
}

.testimonial .controls .ctl {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 52px;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    background: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
    transition: var(--animation);
}

.testimonial .controls .ctl:hover {
    background: #ffffff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.testimonial .list-avatar {
    position: relative;
    width: 58%;
}

.testimonial .list-avatar .avatar {
    background: var(--primary-color);
    border-radius: 50%;
    object-fit: cover;
}

.testimonial .avatar.avt-1 {
    position: absolute;
    top: 0;
    left: 144px;
    right: 333px;
}

.testimonial .avatar.avt-2 {
    position: absolute;
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
    background: #bf83ff;
}

.testimonial .avatar.avt-3 {
    position: absolute;
    top: 107px;
    right: 171px;
    width: 235px;
    height: 235px;
    background: #ff8282;
}

.testimonial .avatar.avt-4 {
    position: absolute;
    top: 258px;
    left: 0;
    width: 78px;
    height: 78px;
    background: #ffc147;
}

.testimonial .avatar.avt-5 {
    position: absolute;
    top: 403px;
    left: 212px;
    width: 78px;
    height: 78px;
    background: #ff947a;
}

.testimonial .avatar.avt-6 {
    position: absolute;
    top: 374px;
    right: 32px;
    width: 78px;
    height: 78px;
    background: #b1dfdc;
}

.cta {
    margin-top: 173px;
    padding: 76px 0 88px;
    background: #def6f5;
}

.cta .cta-content {
    background: #def6f5;
}

.cta .cta-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta .cta-text {
    padding-left: 135px;
}

.cta .cta-text .title {
    font-weight: 700;
    font-size: 4.2rem;
    color: #070707;
}

.cta .desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.8rem;
    color: #767e7e;
}

.cta .cta-body .btn-cta {
    padding-right: 289px;
}

/* ======== Footer ======== */

.footer {
    margin-top: 130px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

/* .footer .row .colum {
} */
.footer .title {
    display: inline-block;
    font-weight: 500;
    font-size: 1.8rem;
    color: #2e2e2e;
}

.footer .list {
    margin-top: 25px;
}

.footer .list li {
    display: block;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #535353;
}

.footer .list a {
    font-weight: 400;
    font-size: 1.6rem;
    color: #535353;
}

.footer .social-link {
    display: flex;
    align-items: center;
    color: #535353;
    font-weight: 400;
    font-size: 1.6rem;
}

.footer .social-link .social-icon {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #ffffff;
    border-radius: 50%;
}

.footer .social-link .scl-name {
    margin-left: 10px;
}

.footer .copyright {
    margin-top: 80px;
}

.footer .copyright p {
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    color: #b0b5b4;
    padding-bottom: 50px;
}
